:root {
  --colordora: #dbba5c;
  --negro: #000204;
  --vino: #780000;
  --doradotrasparente: rgba(31, 32, 20, 0.44);
  --fuenteosval: "Oswald", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(../imagen/fondo.jpg);

  height: 100%;
}

/* Pantalla grande Xl */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 10fr 3fr 20fr 5fr 1fr;
  gap: 5px;
  max-width: 1200px;
 
  margin: 0 auto;

  background-color: var(--doradotrasparente);
  grid-template-areas:
    "A A"
    "B C "
    "D D"
    "E E"
    "E E"
    "F F";
}
.contedor-flex {
  display: flex;
}
nav {
  grid-area: A;
}

header {
  grid-area: B;
}
aside {
  grid-area: C;
}
section {
  grid-area: D;
  background-color: aqua;
}

main {
  grid-area: E;
  background-color: yellow;
}

footer {
  grid-area: F;
  background-color: green;
}

/* nav */

nav {
  min-height: 95px;
}
.cabecera {
  background-color: black;
  min-height: 30px;
}

.registro {
  background-color: var(--colordora);
  min-height: 65px;
}

/* header */
header {
  height: 400px;
}

.slider-frame {
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: 5px auto 0px;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 600%;
  animation: slider 18s infinite alternate ease-in-out;
}
.slider-frame li {
  list-style: none;
  width: 100%;
}
.slider-frame img {
  width: 100%;
}

@keyframes slider {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }

  15% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }

  50% {
    margin-left: -300%;
  }

  65% {
    margin-left: -300%;
  }
  75% {
    margin-left: -400%;
  }

  85% {
    margin-left: -400%;
  }
  90% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}

.contenedor-botones {
  position: relative;
}

.botones {
  position: relative;
  display: flex;
  gap: 10px;
  bottom: 1257px;
  left: 394px;
}

.botones a {
  list-style: none;
  background-color: white;
  text-decoration: none;

  border-radius: 50%;
  font-size: 13px;
  height: 10px;
  width: 10px;
}
.botones a:hover {
  opacity: 1;
}

aside {
  gap: 10px;
  flex-direction: column;
}
.imagen2,
.imagen3 {
  width: 353px;
  height: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}

.jugar {
  margin-right: 30px;
}

.botonjugar {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: var(--colordora);
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  cursor: pointer;
  animation: letras 8ms infinite alternate;
}
.botonjugar:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

@keyframes letras {
  0% {
    color: white;
  }
  25% {
    color: green;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

.imagen2 {
  background-image: url(../imagen/imagen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen3 {
  background-image: url(../imagen/imagen2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* media querys */
/* pantalla tablet horizontal lg */
@media (max-width: 1200px) and (min-width: 992px) {
  /* header */

  .container {
    max-width: 990px;
   
  }
  .aside{
    height: 100%;
  }

  .slider-frame {
    width:  667px;
    height: 402px;
    margin: 3px 0;
  }
  .botones {
    bottom: 1257px;
    left: 284px;
  }
  .imagen2,
  .imagen3 {
    width: 305px;
    height: 80%;
  }
}

/* pantalla tablet vertical  */
@media (max-width: 991px) and (min-width: 768px) {
  .container {
    grid-template-columns:  1fr;
    grid-template-rows: 3fr 10fr 3fr 10fr 20fr 3fr;
    max-width: 991px;
    min-height: 80%;
    row-gap: 20px;
  
    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }
  /* header */

  .slider-frame {
    width: 752px;
    height: 398px;
  }
  aside {
    flex-direction: row;
   
  }

  .imagen2,
  .imagen3 {
    width: 377px;
    height: 300px;
    margin: 0 auto 0  0;
  }
  .botones {
    bottom: 1584px;
    left: 365px;
  }
}

@media (max-width: 767px) and (min-width: 568px){
  .container {
    grid-template-columns:  1fr;
    grid-template-rows: 3fr 10fr 4fr 10fr 20fr 3fr;
    max-width: 568px;
    max-height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    row-gap: 8px;
  
    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }



  .slider-frame {
    width: 552px;
    height: 100%;
   
  }


  .imagen2,
  .imagen3 {
    width: 357px;
    height: 200px;
    margin: 0 auto ;
  }
.botones{
  bottom: 1636px;
  left: 244px;
}

}

@media (max-width: 567px) and (min-width: 20px){
  .container {
    grid-template-columns:  1fr;
    grid-template-rows: 3fr 10fr 2fr 10fr 20fr 3fr;
    max-width: 460px;
    max-height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    row-gap: 8px;
  
    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }



  .slider-frame {
    width: 360px;
    height: 100%;
   
  }


  .imagen2,
  .imagen3 {
    width: 357px;
    height: 200px;
    margin: 0 auto ;
  }
.botones{
  bottom: 1536px;
  left: 127px;
  gap: 30px;
}
}
