:root {
  --colordora: #dbba5c;
  --negro: #000204;
  --vino: #780000;
  --doradotrasparente: rgba(31, 32, 20, 0.44);
  --fuenteosval: "Oswald", sans-serif;
  --fuenteobuntu: "Ubuntu", sans-serif;
  --orotrasparente: rgba(31, 30, 26, 0.62);
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(../imagen/fondo.jpg);

  height: 100%;
}

/* Pantalla grande Xl */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 5px;
  max-width: 1200px;
  min-height: 100%;

  margin: 0 auto;

  background-color: var(--doradotrasparente);
  grid-template-areas:
    "A A"
    "B C "
    "D D"
    "E E"
    "E E"
    "F F";
}
.contedor-flex {
  display: flex;
}
nav {
  grid-area: A;
}

header {
  grid-area: B;
}
aside {
  grid-area: C;
}
section {
  grid-area: D;
}

main {
  grid-area: E;
}

footer {
  grid-area: F;
  background-color: var(--colordora);
}

/* nav */

nav {
  min-height: 95px;
  display: flex;
  flex-direction: column;
}
.cabecera {
  background-color: black;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes {
  display: flex;
  gap: 12px;
  margin-left: 10px;
}
.redes i {
  color: white;
  font-size: 20px;
  transition: color 1s ease;
  cursor: pointer;
}
.redes i:hover {
  color: var(--colordora);
  font-size: 20px;
}
.cabecera-registro {
  display: flex;
  gap: 18px;
  margin-right: 20px;
}

.cabecera-registro p {
  color: white;
  text-transform: uppercase;
  font-family: var(--fuenteosval);
  cursor: pointer;
}

.registro {
  background-color: var(--colordora);
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registro img {
  width: 65px;
  height: 65px;
  margin-left: 20px;
}

.registro ul {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 20px;
}

.registro li {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--fuenteosval);

  padding: 10px;
}

.linea-vertical {
  background-color: red;
  height: 65px;
  width: 1px;
}
.menu {
  display: none;
}

/* header */
header {
  height: 400px;
}

.slider-frame {
  overflow: hidden;
  width: 800px;
  height: 400px;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 600%;
  animation: slider 18s infinite alternate ease-in-out;
}
.slider-frame li {
  list-style: none;
  width: 100%;
}
.slider-frame img {
  width: 100%;
}

@keyframes slider {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }

  15% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }

  50% {
    margin-left: -300%;
  }

  65% {
    margin-left: -300%;
  }
  75% {
    margin-left: -400%;
  }

  85% {
    margin-left: -400%;
  }
  90% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}

.contenedor-botones {
  position: relative;
}

aside {
  gap: 10px;
  flex-direction: column;
}
.imagen2,
.imagen3 {
  width: 353px;
  height: 50%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  border: solid 2px yellow;
  border-radius: 10px;
}

.jugar {
  margin-right: 30px;
}

.botonjugar {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: var(--colordora);
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  cursor: pointer;
  animation: letras 8ms infinite alternate;
}
.botonjugar:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

@keyframes letras {
  0% {
    color: white;
  }
  25% {
    color: green;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

.imagen2 {
  background-image: url(../imagen/imagen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen3 {
  background-image: url(../imagen/imagen2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION */

.contenedor_juegos {
  height: 100px;
  display: flex;

  align-items: center;
}

.linea_vertical {
  height: 100%;
  width: 2px;
  background-color: var(--colordora);
}
.juegos_menu {
  background-color: red;
  height: 0;
  width: 191px;
  display: flex;
  transition: height 1s ease-in;
  justify-content: center;
  align-items: center;
}
.juegos_menu:hover {
  height: 100%;
}

.juegos_menu a {
  font-family: var(--fuenteobuntu);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  text-decoration: none;

  text-transform: uppercase;
  animation: menujuegos 2s infinite ease-in-out alternate;
}

@keyframes menujuegos {
  0% {
    color: white;
  }
  100% {
    color: yellow;
  }
}

/* nav juegos */

.contenedor_juegos-slider {
  display: none;
}

/* main */
.principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.principal_imagen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border: solid 2px yellow;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.contenedor_principal_slider {
  display: none;
}

.principal_imagen:nth-child(1) {
  background-image: url(../imagen/imagen_casino1.jpg);
}
.principal_imagen:nth-child(2) {
  background-image: url(../imagen/imagen_casino2.jpg);
}
.principal_imagen:nth-child(3) {
  background-image: url(../imagen/imagen_casino3.jpg);
}
.principal_imagen:nth-child(4) {
  background-image: url(../imagen/imagen_casino4.jpg);
}
.principal_imagen:nth-child(5) {
  background-image: url(../imagen/imagen_casino5.jpg);
}
.principal_imagen:nth-child(6) {
  background-image: url(../imagen/imagen_casino6.jpg);
}
.principal_imagen:nth-child(7) {
  background-image: url(../imagen/imagen_casino7.jpg);
}
.principal_imagen:nth-child(8) {
  background-image: url(../imagen/imagen_casino8.jpg);
}

/* footer */
.contenidofooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}
.contenidofooter li {
  list-style: none;
}

.contenidofooter a {
  text-decoration: none;
  font-family: var(--fuenteosval);
  color: var(--negro);
  transition: color 800ms ease-in;
}

.contenidofooter a:hover {
  color: white;
}

/* media querys */
/* pantalla tablet horizontal lg */
@media (max-width: 1200px) and (min-width: 992px) {
  /* header */

  .aside {
    height: 100%;
  }

  .slider-frame {
    width: 731px;
    height: 398px;
  }

  .imagen2,
  .imagen3 {
    width: 358px;
    height: 80%;
  }

  /* footer */
  .contenidofooter {
    justify-content: center;
    gap: 15px;
  }
}

/* pantalla tablet vertical  */
@media (max-width: 991px) and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 30px;

    row-gap: 10px;

    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }
  /* nav */

  .registro {
    justify-content: space-between;
    width: 60%;
  }
  .cabecera-registro {
    gap: 9px;
    margin-right: 529px;
  }

  /* header */

  header {
    padding: 0;
    margin: 0;
  }

  .slider-frame {
    width: 749px;
    height: 398px;
    margin-right: 503px;
    margin: 3px 503px 3px 10px;
  }
  aside {
    flex-direction: row;
    column-gap: 10px;
  }

  .imagen2,
  .imagen3 {
    height: 300px;
    margin-left: 16px;
  }

  .juegos_menu a {
    font-size: 14px;
  }
  /* nav juegos */
  .contenedor_juegos {
    max-width: 61%;
    justify-content: center;
  }
  /* main */
  main {
    max-width: 500px;
  }

  .principal {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 77px;
  }
  .principal_imagen {
    width: 300px;
    min-height: 100%;
  }
  /* footer */
  .contenidofooter {
    justify-content: start;
    gap: 10px;
  }
}

@media (max-width: 767px) and (min-width: 568px) {
  .container {
    margin-left: 26px;

    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }

  /* nav */

  .cabecera-registro {
    margin-right: 683px;
  }

  .registro ul {
    display: none;
  }

  .menu {
    display: block;
    margin-right: 713px;
  }

  .menu i {
    color: var(--vino);
    font-size: 28px;
    transition: transform 1s ease-in-out;
  }

  .menu i:hover {
    transform: scale(1.5);
  }

  .slider-frame {
    width: 624px;
    height: 100%;
    margin-left: 10px;
  }

  .imagen2,
  .imagen3 {
    width: 287px;
    height: 194px;
    margin-left: 106px;
  }

  /* nav juegos */

  .contenedor_juegos {
    max-width: 47%;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
  }
  .contenedor_juegos a {
    font-size: 12px;
    text-align: center;
  }
  /* main */
  main {
    max-width: 500px;
  }

  .principal {
    grid-template-columns: repeat(2, 1fr);
  }
  .principal_imagen {
    width: 269pxpx;
  }

  /* footer */
  footer {
    width: 765px;
  }

  .contenidofooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 9px;
  }
}

@media (max-width: 567px) and (min-width: 20px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 100vh;
    
    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E "
      "F ";
  }

  /* nav */
  .cabecera {
    min-height: 37px;
  }

  .registro ul {
    display: none;
  }
  .registro img {
    width: 65px;
    height: 65px;
  }
  .cabecera-registro {
    margin-right: 384px;
  }

  .menu {
    display: block;
    margin-right: 407px;
  }

  .menu i {
    font-size: 23px;
    color: var(--vino);
    transition: transform 1s ease-in-out;
  }
  .menu i:hover {
    transform: scale(1.5);
  }

  .slider-frame {
    width: 428px;
    height: 100%;
  }

  .imagen2,
  .imagen3 {
    width: 261px;
    height: 197px;
    margin-left: 56px;
  }

  .contenedor_juegos {
    display: none;
  }

  /* nav juegos */

  .contenedor_juegos-slider {
    display: flex;
    overflow: hidden;
    width: 200%;
    height: 150px;

    animation: carrusel 15s infinite alternate ease-in-out;
    animation-delay: 2s;
  }

  .juegos-slidergrupo1 {
    display: flex;
    column-gap: 3px;
    width: 100%;
    align-items: center;
  }

  .juegos-slidergrupo2 {
    display: flex;
    column-gap: 3px;
    width: 100%;
    align-items: center;
  }

  .juegos_menu {
    transition: none;
    width: 116px;
  }

  @keyframes carrusel {
    0% {
      margin-left: 0%;
    }

    25% {
      margin-left: 0%;
    }

    50% {
      margin-right: -100%;
    }

    100% {
      margin-left: -100%;
    }
  }

  .juegos_menu:hover {
    display: none;
  }

  .juegos_menu a {
    font-size: 12px;
    padding: 10px;
  }

  aside .imagen2,
  .imagen3 {
    display: none;
  }
  /* main */
  .principal {
    display: none;
  }

  .contenedor_principal_slider {
    display: block;
  }

  .principal_con_slider {
    position: relative;
    max-width: 360px;
    margin-left: 10px;
  }

  .principal_slider_image {
    display: flex;
    aspect-ratio: 8 / 6;
    overflow: hidden;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .principal_slider_image,
  .imgslider {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider_nav {
    position: absolute;
    display: flex;
    column-gap: 1rem;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    z-index: 1;
    align-items: center;
  }

  .slider_nav a {
    width: 0.9rem;
    height: 0.9rem;
    background-color: #ffff;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  .slider_nav a:hover {
    opacity: 1;
  }

  /* footer */
  footer {
    width: 568px;
  }

  .contenidofooter {
    flex-direction: column;

    align-items: center;
    margin-right: 176px;
  }
}
